/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variable */
:root {
    --sidebar: #1990d1;
    --icon: #ffffff;
    --header: #ffffff;
    --background: #e2e8f0;
    --button: #1990d1;
    --title: #000000;
    --text: #6f6f6f;
    --accent: #f0b63d;
    /* shadow */
    --shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Zain", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 99vw;
    display: flex;

}

.sidebar {
    background-color: var(--sidebar);
    color: var(--icon);
    flex-grow: -4;
    /* cek kembali !! */
    width: clamp(150px, 13vw, 250px);

}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 1rem;

    font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.sidebar .logo img {
    width: clamp(20px, 3vw, 100px);
}

.sidebar nav {
    /* border: 1px solid black; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: clamp(0.9rem, 1vw, 1.4rem);


}

.sidebar a {
    color: var(--icon);
    text-decoration: none;
}

.sidebar nav ul li {
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* justify-content: space-evenly; */

}

.sidebar nav img {
    padding: 0.5rem;
    width: 40px;
}

.sidebar nav .menu-1 {
    margin: 0 auto;
    width: clamp(80px, 11vw, 230px);
}

.sidebar nav .menu-2 {
    margin: 0 auto;
    width: clamp(80px, 11vw, 230px);
    margin-top: 2rem;
    border-top: 1px solid white;
}

main {
    display: flex;
    flex-direction: column;
    width: 88vw;
    background-color: var(--background);
}

main header {
    background-color: var(--header);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
    box-shadow: var(--shadow);
    border: none;
    max-height: 16vh;
}

main header .search-bar {
    /*   */
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

main header .search-bar img {
    width: 20px;
    margin: 0 1rem;
}

main header .search-bar input {
    width: 80%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--background);
    background-color: var(--background);
    padding: 1rem;
}

main header .search-bar [type="text"]:focus {
    outline: none;
    box-shadow: none;
    /* Optional: Remove any potential box-shadow */
}

main header .alert-user {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    /* border: 1px solid black; */
}

main header .alert-user img {
    margin: 0 1.5rem;
    height: 30px;
}

main header .alert-user p {
    font-size: 1.2rem;
    font-weight: 700;
}

main header .alert-user img {
    width: 25px;
}

main header .greet {
    display: flex;
    padding: 1rem 3.5rem;
}

main header .greet h2 {
    font-weight: 800;
}

main header .greet img {
    margin: 0 1.5rem;
    height: 50px;
    border-radius: 12px;
}

main header .group-btn {
    margin: auto 50;
    display: flex;
    justify-content: end;
}

main header .group-btn button {
    height: 35px;
    width: 100px;
    border: none;
    background-color: var(--button);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    margin: 1rem;
}

main section {
    background-color: var(--background);
    padding: clamp(0.7rem, 15px, 1.5rem);
    display: flex;
    margin: 0 auto;
    width: clamp(800px, 50vw, 1200px);

    justify-content: space-evenly;
}

/* Font */
main section h2 {
    font-size: 2rem;
}

main section h3 {
    font-size: 1.5rem;
}

main section p {
    font-size: 1.2rem;
}

main section .your-project {
    width: 60%;
    margin: 0.5rem;
    /* transition */
    opacity: 0;
    transform: translatey(10px);
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

main section .animate {
    opacity: 1;
    transform: translatey(0);
}



main section .cards {
    /* border: 1px solid black; */
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

main section .cards .card {
    display: grid;
    background-color: var(--header);
    /* height: 300px; */
    /* margin: 1rem; */
    padding: 1rem;
    border-left: 5px solid var(--accent);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

main section .cards .card .logo {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.4rem;
}

main section .cards .card img {
    width: 20px;
    margin: 0.6rem;
}

main section .cards .card p {
    color: var(--text)
}

main aside {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(100px, 12vw, 250px);
}

main section aside .announcements {

    opacity: 0;
    transform: translatey(10px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;

}

main section aside .animate {
    opacity: 1;
    transform: translatey(0px);
}

main section aside .announcements .boxs {
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

main section aside .announcements .boxs .box:nth-child(1) {
    border-top: none;
}

main section aside .announcements .boxs .box {
    border-top: 1px solid var(--text);
    padding: 1rem 2rem;
    margin: 0 auto;
}

main section aside .announcements .boxs .box h3 {
    padding: 0;
    margin: 0;
}

main section aside .announcements .boxs .box p {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

main section aside .trending {
    margin-top: 1rem;
    /* animation */
    transform: translateY(-10px);
    opacity: 0;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

main section aside .animate {
    opacity: 1;
    transform: translateY(0px);
}

main section aside .trending .boxs {
    background-color: white;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
    height: clamp(150px, 25vh, 300px);
    overflow: auto;
    overflow-y: none;


}

main section aside .trending .boxs .box-1 {
    /* border: 1px solid black; */
    margin: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

main section aside .trending .boxs .box-1 img {
    width: 45px;
    border-radius: 8px;
    margin-right: 2rem;
}

main section aside .trending .boxs .box-1 h3 {
    font-weight: normal;
    font-size: 1.3rem;
}

main section aside .trending .boxs .box-1 .detail p {
    color: var(--text);
}