/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variable */
:root {
    --sidebar: #1990d1;
    --icon: #ffffff;
    --header: #ffffff;
    --background: #e2e8f0;
    --button: #1990d1;
    --title: #000000;
    --text: #6f6f6f;
    --accent: #f0b63d;
}

body {
    font-family: "Zain", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    border: 1px solid black;
    display: flex;

}

.sidebar {
    background-color: var(--sidebar);
    color: var(--icon);
    flex-grow: -4;
    /* cek kembali !! */
    width: clamp(100px, 20vh, 220px);

}

.sidebar .logo {
    border: 1px solid black;
    margin: 1rem;
}

.sidebar nav {
    font-size: 1.5rem;
    /* border: 1px solid black; */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.sidebar a {
    color: var(--icon);
    text-decoration: none;
}

.sidebar nav .menu-1 {
    /* border: 1px solid black; */
}

.sidebar nav .menu-2 {
    /* border: 1px solid black; */
}