/* Font link */
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variable */
:root {
    --sidebar: oklch(62.617% 0.13628 239.741 / 0);
    --icon: #ffffff;
    --header: #ffffff;
    --background: #e2e8f0;
    --button: #1990d1;
    --title: #000000;
    --text: #6f6f6f;
    --accent: #f0b63d;
}